@page
@model OrtizAbrahamSprint3.Pages.RegistrationsModel
@{
}

@*Se quiere poner toda la informacion para hacer el registro de las clases*@

@*Title rows*@
<div class="sign-up-title">
    <h1>Enroll a class here!</h1>
    <p>Please select the desire options</p>
</div>

@*Form rows*@
<form method="post" class="all-data-container">
    @*Age range row*@
    <div class="enter-data-container">
        <label>Age range</label>
        <select name="AgeRangeID" asp-for="AgeRangeID" asp-items="@Model.listofagerange">
            <option value="0"> Select the age range </option>
        </select>
        <span>@Model.MessageAgeRange</span>
    </div>

    @*Level row*@
    <div class="enter-data-container">
        <label>Level</label>
        <select name="LevelID" asp-for="LevelID" asp-items="@Model.listoflevels">
            <option value="0"> Select the level </option>
        </select>
        <span>@Model.MessageLevel</span>
    </div>


    @*Style row*@
    <div class="enter-data-container">
        <label>Style</label>
        <select name="StyleID" asp-for="StyleID" asp-items="@Model.listofstyles">
            <option value="0"> Select the style </option>
        </select>
        <span>@Model.MessageStyle</span>
    </div>

    @*Buttons rows*@
    <div class="data-buttons-container">
        <input asp-page-handler="ClearForm" type="submit" value="Clear" class="clear-button" />
        <input asp-page-handler="Enroll" type="submit" value="Enroll" class="submit-button" />
    </div>

    
</form>


@*Link to sign in row*@
<div class="link-to-sign-container">
    <p>Haven't you logged in yet?</p>
    <a asp-area="" asp-page="/SignIn">Sign in</a>
</div>
