@page
@model OrtizAbrahamSprint3.Pages.RegistrationsModel
@{
}

@*Se quiere poner toda la informacion para hacer el registro de las clases*@

@*Title rows*@
<div class="sign-up-title">
    <h1>Enroll a class here!</h1>
</div>

@*Form rows*@
<form method="post" class="all-data-container">

    @*Choose options*@
    <h2>Select the desire options</h2>

    @*Age range row*@
    <div class="enter-data-container">
        <label>Age range</label>
        <select name="AgeRangeID" asp-for="AgeRangeID" asp-items="@Model.listofagerange" onchange="this.form.submit()">
            <option value="0"> Select the age range </option>
        </select>
        <span>@Model.MessageAgeRange</span>
    </div>

    @*Level row*@
    <div class="enter-data-container">
        <label>Level</label>
        <select name="LevelID" asp-for="LevelID" asp-items="@Model.listoflevels" onchange="this.form.submit()">
            <option value="0"> Select the level </option>
        </select>
        <span>@Model.MessageLevel</span>
    </div>


    @*Style row*@
    <div class="enter-data-container">
        <label>Style</label>
        <select name="StyleID" asp-for="StyleID" asp-items="@Model.listofstyles" onchange="this.form.submit()">
            <option value="0"> Select the style </option>
        </select>
        <span>@Model.MessageStyle</span>
    </div>

    @*Class Information rows*@


    <h2 class="@Model.displayClassInformation">Class information</h2>

    <div class="information-class-container @Model.displayClassInformation">
        <p>Price: $@Model.classPrice</p>
        <p>Hours: @Model.classHour</p>
        <p>Days: @Model.classDays</p>
        <p>Instructor: @Model.classInstructor</p>


    </div>


    @*Buttons rows*@
    <div class="data-buttons-container">
        <input asp-page-handler="Enroll" type="submit" value="Enroll" class="submit-button" />
        <input asp-page-handler="ClearForm" type="submit" value="Clear" class="clear-button" />
    </div>

    
</form>
