@page
@model OrtizAbrahamSprint3.Pages.SignUpModel
@{
    ViewData["Title"] = "Sign Up";
}


@*Title rows*@
<div class="sign-up-title">
    <h1>Ready to join to YOLOTZIN?</h1>
    <p>Please enter the following information</p>
</div>

<form method="post" class="all-data-container ">

    @*GUARDIAN SECTION*@
    <h2 class="@Model.ClassNameDisplayGuardian">Guardian information</h2>
    <p class="@Model.ClassNameDisplayGuardian">You need a guardian.</p>

    @*First name row*@
    <div class="enter-data-container @Model.ClassNameDisplayGuardian">
        <label>First name</label>
        <input asp-for="FirstNameGuardian" type="text" />
        <span asp-validation-for="FirstNameGuardian"></span>
    </div>
    @*Last name row*@
    <div class="enter-data-container @Model.ClassNameDisplayGuardian">
        <label>Last name</label>
        <input asp-for="LastNameGuardian" type="text" />
        <span asp-validation-for="LastNameGuardian"></span>
    </div>
    @*Email row*@
    <div class="enter-data-container @Model.ClassNameDisplayGuardian">
        <label>Email</label>
        <input asp-for="EmailAddressGuardian" type="text" />
        <span asp-validation-for="EmailAddressGuardian"></span>

    </div>
    @*Phone number row*@
    <div class="enter-data-container @Model.ClassNameDisplayGuardian ">
        <label>Phone number</label>
        <input asp-for="PhoneNumberGuardian" type="tel" />
        <span asp-validation-for="PhoneNumberGuardian"></span>

    </div>
    @*Date of birth row*@
    <div class="enter-data-container @Model.ClassNameDisplayGuardian ">
        <label>Date of birth</label>
        <input asp-for="BirthdayGuardian" type="date" />
        <span>@Model.MessageAgeRangeGuardian</span>
    </div>



    @*USER SECTION*@
    <h2 class="">Student information</h2>
    @*First name row*@
    <div class="enter-data-container">
        <label>First name</label>
        <input asp-for="FirstNameUser" type="text" />
        <span asp-validation-for="FirstNameUser"></span>
    </div> 
    @*Last name row*@
    <div class="enter-data-container">
        <label>Last name</label>
        <input asp-for="LastNameUser" type="text" />
        <span asp-validation-for="LastNameUser"></span>
    </div>
    @*Email row*@
    <div class="enter-data-container">
        <label>Email</label>
        <input asp-for="EmailAddressUser" type="text" />
        <span asp-validation-for="EmailAddressUser"></span>

    </div>
    @*Phone number row*@
    <div class="enter-data-container">
        <label>Phone number</label>
        <input asp-for="PhoneNumberUser" type="tel" />
        <span asp-validation-for="PhoneNumberUser"></span>

    </div>
    @*Date of birth row*@
    <div class="enter-data-container">
        <label>Date of birth</label>
        <input asp-for="BirthdayUser" type="date" />
        <span>@Model.MessageAgeRangeUser</span>

    </div>
    @*Username row*@
    <div class="enter-data-container">
        <label>Username</label>
        <input asp-for="Username" type="text" />
        <span asp-validation-for="Username"></span>
    </div>
    @*Password row*@
    <div class="enter-data-container">
        <label>Password</label>
        <input asp-for="UserPassword" type="password" />
        <span asp-validation-for="UserPassword"></span>
    </div>


    @*Buttons rows*@
    <div class="data-buttons-container">
        <input asp-page-handler="AddUser" type="submit" value="Sign Up" class="submit-button" />
        <input asp-page-handler="ClearForm" type="submit" value="Clear Form" class="clear-button" />
    </div>

    @*Error message row*@
    <div class="error-message">@Model.MessageError</div>

</form>


@*Link to sign in row*@
<div class="link-to-sign-container ">
    <p>Do you want to sign in?</p>
    <a asp-area="" asp-page="/SignIn">Sign in</a>
</div>
